img.avatar {
  border-radius: 30px;
}

.avatar-flair {
  border-radius: 20px;
}

.d-header .header-buttons .help-centre {
  color: #fff;
  cursor: pointer;
}

.d-header .header-buttons .help-centre:hover {
  text-decoration: underline;
}

.d-header .badge-wrapper .badge-category .category-name {
  color: #fff;
}
