@font-face {
    font-family: 'Eina';
    font-style: normal;
    font-weight: 400;
    src: url($Eina_Regular)  format('opentype');
}

@font-face {
    font-family: 'Eina';
    font-style: normal;
    font-weight: 600;
    src: url($Eina_SemiBold)  format('opentype');
}
